<%= render 'layouts/side_nav' %>

<div>
  <h2>What to bring</h2>
</div>

<div>
  <h2>Transportation</h2>
</div>

<div>
  <h2>Expenses</h2>
</div>

<div>
  <h2>Friends waiting for response</h2>
</div>

<div>
  <h2>Notes</h2>
</div>

<%= render 'layouts/footer' %>