<%= render 'layouts/side_nav' %>

<div>
	<h2>Feed</h2>
</div>

<div>
	<h2>Description</h2>
	<%= @trip.description %>
</div>

<div>
  <h2>Forcast</h2>
</div>

<div>
  <h2>Map</h2>
</div>

<%= render 'layouts/footer' %>