<div>
  <span>
    <strong>Title:</strong>
    <%= item.title %>
  </span>

  <span>
    <%= link_to 'Delete Item', [item.trip, item],
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
  </span>
</div>