
<div>
  <span>
    <strong>Capacity:</strong>
    <%= car.capacity %>
  </span>

  <span>
    <%= link_to 'Delete Car', [car.trip, car],
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
  </span>
</div>