<% @trip.cars.each do |car| %>
  <p>
    <strong>Title:</strong>
    <%= car.title %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= car.capacity %>
  </p>

  <p>
    <%= link_to 'Delete Car', [car.trip, car],
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>