<footer>
  <ul>
    <li><a href="<%= trips_path %>">Facebook</a></li>
    <li><a href="<%= trips_path %>">Instagram</a></li>
    <li><a href="<%= trips_path %>">Twitter</a></li>
  </ul>

  <div>Hand Crafted in Los Angeles</div>
</footer>